@import "tailwindcss";
/* @config "../tailwind.config.ts" */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');



:root {
  --font: "Plus Jakarta Sans", sans-serif;
}

/* .dark {

} */

@theme {
  --color-theme-bg: var(--background-color);
  --color-theme-text: var(--text-color);
  --font-plus: var(--font);
}
